XSD/Apuntes/03-declarar-atributos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe" type="tipoComplejo">
  </xs:element>


  <xs:complexType name="tipoComplejo">
    <xs:attribute name="nombre" type="xs:string" use="required"/>
    <xs:attribute name="edad" type="xs:integer" use="optional"/>
  </xs:complexType>

</xs:schema>
