XSD/Apuntes/07-lista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="numeros" type="listaNumeros"/>
  
  <xs:simpleType name="listaNumeros">
    <xs:list itemType="listaNumerosRestringida" />
  </xs:simpleType>

  <xs:simpleType name="listaNumerosRestringida">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="10"/>
      <xs:maxExclusive value="51"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
