XSD/Apuntes/09-sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe" type="caracSuperheroe"/>
  
  <xs:complexType name="caracSuperheroe">
    <xs:sequence>
      <xs:element name="nombre" minOccurs="0" maxOccurs="3" type="minimoUnCaracter" />
      <xs:element name="edad" type="xs:string" />
      <xs:element name="bando" type="xs:string" />
    </xs:sequence> 
    <xs:attribute name="nombreReal" type="minimoUnCaracter"/> 
  </xs:complexType>

  <xs:simpleType name="minimoUnCaracter">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
