XSD/Apuntes/10-choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe" type="caracSuperheroe"/>
  
  <xs:complexType name="caracSuperheroe">
    <xs:choice>
      <xs:element name="nombre" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
      <xs:element name="edad" type="xs:string" />
      <xs:element name="bando" type="xs:string" />
    </xs:choice>  
  </xs:complexType>

</xs:schema>
