XSD/Apuntes/13-elemento-vacio-con-atributos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe">
    <xs:complexType>
      <xs:attribute name="nombre" type="xs:string" />
      <xs:attribute name="edad" type="xs:positiveInteger" />
    </xs:complexType>
  </xs:element>
</xs:schema>
