XSD/Apuntes/17-elemento-contenido-mixto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="amigo" type="textoNoVacio" minOccurs="2" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
   <xs:simpleType name="textoNoVacio">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
