XSD/Apuntes/18-elemento-con-atributos-y-contenido-mixto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="amigo" type="xs:string" minOccurs="2" maxOccurs="unbounded"/>
      </xs:choice>
      <xs:attribute name="edad" type="xs:string"/>
      <xs:attribute name="color" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
